{%extends 'mainBundle::layout.html.twig'%}

{%block body%}

<h1>Bienvenue</h1>

<h2> Vous pouvez, ici, réserver des salles pour vos réunions 
en cliquant sur les différents onglets </h2>



{% endblock %}