{%extends 'mainBundle::layout.html.twig'%}

{% block body -%}
    <h1>Modification d'une salle</h1>

    {{ form(edit_form) }}
    
	{% if entity.img is not null %}               
                <img src='{{entity.img.getWebPath  | imagine_filter('my_thumb')}}'/>
               {% else %}
               
               {% endif %} 

        <ul class="record_actions">
    <li>
        <a href="{{ path('salle') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block menu %}Salle{% endblock %}