{% extends "mainBundle::layout.html.twig" %}

{%block menu%} index {%endblock%}

{%block body%}
Hello {{ nom }}
<h2>
Le saint du jour est {{ saint }}
</h2>
{%endblock%}

{%block title%}
Titre page
{%endblock%}